@charset "UTF-8";

@font-face {
    font-family: 'Monaco';
    src: url('../fonts/monaco.ttf');
}

@font-face {
    font-family: 'MonacoB';
    src: url('../fonts/monacob.otf')
}

@font-face {
    font-family: 'MonacoB2-Bold';
    src: url('../fonts/monacob2-bold.otf');
}

body {
    background-color: #000000;
    width: 960px;
    height: 480px;
    top: 0px;
    left: 0px;
    margin: 0%;
    overflow: hidden;
}

/* uncomment this class if you are using a Kivic unit */
/*
  .hud {
    width: 960px;
    height: 480px;
    top: -53px;
    left: -150px;
    position: relative;
    overflow: hidden;
    transform: scale(0.74,0.80);
  }
  */

/* uncomment this class if you are using a Hudly unit */
.hud {
    width: 960px;
    height: 480px;
    top: 220px;
    left: 450px;
    position: relative;
    overflow: hidden;
    transform: scale(2.1, 2.2);
}

.scrollspeed {
    width: 200px;
    height: 600px;
    top: -110px;
    left: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.speedbox {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 6px;
    border-radius: 5px;
    position: absolute;
    top: 128px;
    left: 146px;
    width: 63px;
    height: 40px;
    display: inline-block;
    z-index: 210;
}

.scrollaltitude {
    width: 229px;
    height: 632px;
    top: -120px;
    left: 720px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.altbox {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 6px;
    border-radius: 5px;
    position: absolute;
    top: 127px;
    left: 701px;
    width: 99px;
    height: 40px;
    display: inline-block;
    z-index: 210;
}

.barobox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 337px;
    left: 741px;
    width: 146px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}

.scrollheading {
    width: 800px;
    height: 95px;
    top: 380px;
    left: -44px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.headingbox {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 379px;
    left: 430px;
    width: 63px;
    height: 30px;
    display: inline-block;
    z-index: 210;
}

.gmeterbox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 422px;
    left: 52px;
    width: 132px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}
 
.daltbox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 422px;
    left: 742px;
    width: 145px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}
 
.oatbox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 379px;
    left: 742px;
    width: 145px;
    height: 38px;
    display: inline-block;
    z-index: 210;
} 

.tasbox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 379px;
    left: 52px;
    width: 131px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}

.vsbox {rgba(255,102,0,255);
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 296px;
    left: 780px;
    width: 107px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}

.vsarrowbox {
    border-style: solid;
    border-color: rgba(2,85,255,255);
    border-width: 4px;
    border-radius: 5px;
    position: absolute;
    top: 296px;
    left: 742px;
    width: 33px;
    height: 38px;
    display: inline-block;
    z-index: 210;
}

.yawindicator {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 4px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    width: 177px;
    height: 29px;
    top: 337px;
    left: 371px;
    z-index: 210;
}

#spanspeedbox {
    position: absolute;
    left: 4px;
    top: 0px;
    font-family: 'MonacoB2-Bold';
    font-size: 31px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#speedmask {
    position: absolute;
    top: 2px;
    left: 26px;
    width: 172px;
    height: 600px;
    display: inline-block;
    border: 0px;
    z-index: 15;
}

#ktlabel {
    position: absolute;
    top: 292px;
    left: 150px;
    font-family: 'MonacoB2-Bold';
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    z-index: 16;
    color: white;
}

#speedtape {
    position: absolute;
    top: -1315px;
    left: 33px;
    width: 85px;
    height: 1844px;
    z-index: 4;
}

#spanaltbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99px;
    height: 40px;
    font-family: 'MonacoB2-Bold';
    font-size: 31px;
    text-align: right;
    vertical-align: middle;
    color: white;
}

#altmask {
    position: absolute;
    top: -97px;
    left: 31px;
    width: 245px;
    height: 790px;
    display: inline-block;
    overflow: hidden;
    border: 0px;
    z-index: 10;
}

#alttape {
    position: absolute;
    top: -5090px;
    left: 106px;
    width: 99px;
    height: 5487px;
    z-index: 1;
}

#msllabel {
    position: absolute;
    top: 302px;
    left: 23px;
    width: 15px;
    height: 22px;
    z-index: 11;
    font-family: 'MonacoB2-Bold';
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spanbaro {
    position: absolute;
    top: 6px;
    left: 1px;
    width: 147px;
    height: 26px;
    font-family: 'MonacoB2-Bold';
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#headingmask {
    position: absolute;
    top: 0px;
    left: 75px;
    width: 853px;
    height: 104px;
    display: inline-block;
    border: 0px;
    z-index: 150;
}

#headingtape {
    position: absolute;
    top: 46px;
    left: -597px;
    width: 3900px;
    height: 62px;
    z-index: 1;
}

#spanheadingbox {
    position: absolute;
    width: 60px;
    height: 30px;
    top: -3px;
    left: -1px;
    font-family: 'MonacoB2-Bold';
    font-size: 30px;
    text-align: right;
    vertical-align: middle;
    color: white;
}

#windcircle {
    height: 60px;
    width: 60px;
    top: 308px;
    left: 121px;
    position: absolute;
    visibility: visible;
    z-index: 200;
}

#windarrow {
    height: 42px;
    width: 10px;
    position: absolute;
    top: 318px;
    left: 148px;
    visibility: visible;
    z-index: 210;
}

#spanwindindicator {
    position: absolute;
    top: 323px;
    left: 59px;
    width: 43px;
    height: 22px;
    visibility: visible;
    z-index: 210;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spanwindspeed {
    position: absolute;
    top: 347px;
    left: 63px;
    width: 48px;
    height: 26px;
    visibility: visible;
    z-index: 210;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    color: white;
}

#spangmeter {
    height: 25px;
    width: 100px;
    position: absolute;
    top: 8px;
    left: 17px;
    visibility: visible;
    z-index: 210;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 19px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spantas {
    height: 28px;
    width: 103px;
    position: absolute;
    top: 6px;
    left: 15px;
    visibility: visible;
    z-index: 210;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spanoat {
    height: 32px;
    width: 113px;
    position: absolute;
    top: 8px;
    left: 15px;
    visibility: visible;
    z-index: 200;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spandalt {
    height: 29px;
    width: 113px;
    position: absolute;
    top: 9px;
    left: 15px;
    visibility: visible;
    z-index: 200;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#spanvsarrow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 1px;
    visibility: visible;
    z-index: 200;
    font-family: 'MonacoB2-Bold';
    font-size: 26px;
    text-align: center;
    vertical-align: top;
    color: white;
}

#spanvspeed {
    height: 29px;
    width: 86px;
    position: absolute;
    top: 7px;
    left: 11px;
    visibility: visible;
    z-index: 210;
    transform: scale(1.25, 1.25);
    font-family: 'MonacoB2-Bold';
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#slipskid {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 4px;
    height: 120px;
    width: 500px;
    position: absolute;
    top: -43px;
    left: -127px;
    visibility: visible;
    z-index: 210;
    transform: scale(.4, .3);
}

#ball {
    height: 95px;
    width: 70px;
    position: absolute;
    top: -33px;
    left: 55px;
    visibility: visible;
    z-index: 211;
    transform: scale(.3, .28);
}

#leftbar {
    height: 83px;
    width: 10px;
    position: absolute;
    visibility: visible;
    top: -27px;
    left: 69px;
    z-index: 212;
    transform: scale(.54, .35);
}

#rightbar {
    height: 83px;
    width: 10px;
    position: absolute;
    top: -27px;
    left: 101px;
    visibility: visible;
    z-index: 212;
    transform: scale(.54, .35);
}

.attitude {
    width: 300px;
    height: 400px;
    top: -50px;
    left: 168px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.attitude .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.instrument.attitude div.roll {
    transform: rotate(0deg);
}

div.instrument.attitude div.roll div.pitch {
    top: 0%;
}