
@font-face { 
    font-family: 'monacoregular'; 
    src: url('../fonts/ monaco-webfont.woff2') format('woff2'),
         url('../fonts/monaco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monacob2bold';
    src: url('../fonts/monacob2-bold-webfont.woff2') format('woff2'),
         url('../fonts/monacob2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monacobregular';
    src: url('../fonts/monacob-webfont.woff2') format('woff2'),
         url('../fonts/monacob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
body {
    background-color: #000000;
    width: 960px;
    height: 480px;
    top: 0px;
    left: 0px;
    position: absolute;
    margin: 0%;
    overflow: hidden;
}

.hud {
    width: 940px;
    height: 480px;
    top: 220px;
    left: 425px;
    position: relative;
    overflow: hidden;
    transform: scale(2.1, 2.3);
}

.aoa {
    border-style: solid;
    border-color: red;
    border-width: 12px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    width: 343px;
    height: 67px;
    top:126px;
    left: 157px;
    z-index: 500;
    transform: scale(1.5,1.5);
    visibility: hidden;
}

.yawindicator {
    border-style: solid;
    border-color: rgb(255,102,0);
    border-width: 3px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    width: 156px;
    height: 18px;
    top: 238px;
    left: 260px;
    z-index: 210;
    transform: scale(2.5,2.5);
}

.speedbox {
    border-style: solid;
    border-color: black;
    border-width: 6px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 54px;
    left: 277px;
    width: 118px;
    height: 77px;
    display: inline-block;
    z-index: 210;
    transform: scale(3,3);
}

#spanaoa {
    position: absolute;
    left: 6px;
    top: -15px;
    width: 340px;
    height: 71px;
    font-family: 'monacob2bold';
    font-size: 58px;
    text-align: center;
    vertical-align: middle;
    color: red;
}

#spanspeedbox {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-family: 'monacob2bold';
    font-size: 50px;
    color: white;
}

#slipskid {
    border-style: solid;
    border-color: rgba(255,102,0,255);
    border-width: 4px;
    height: 120px;
    width: 500px;
    position: absolute;
    top: -43px;
    left: -127px;
    visibility: visible;
    z-index: 210;
    transform: scale(.4, .3);
}

#ball {
    height: 17px;
    width: 20px;
    position: absolute;
    top: 1px;
    left: 69px;
    visibility: visible;
    z-index: 211;
}

#leftbar {
    height: 59px;
    width: 7px;
    position: absolute;
    visibility: visible;
    top: -21px;
    left: 62px;
    z-index: 212;
    transform: scale(.54, .35);
}

#rightbar {
    height: 59px;
    width: 7px;
    position: absolute;
    top: -21px;
    left: 90px;
    visibility: visible;
    z-index: 212;
    transform: scale(.54, .35);
}

#yawbackground {
    height: 120px;
    width: 500px;
    position: absolute;
    top: 315px;
    left: 213px;
    visibility: visible;
    z-index: 200;
    transform: scale(.4, .3);
}
