<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Cache-Control: no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma: no-cache">
    <meta http-equiv="Expires: 0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/vufine.css" />
</head>
<body>
<div class="hud">
    <div class="aoa"><span id="spanaoa"></span></div>
    <div class="speedbox"> 
        <span id="spanspeedbox">000</span>
    </div> 
    <div class="yawindicator">
        <img src="img/slipskidbar.png" id="leftbar">
        <img src="img/slipskidbar.png" id="rightbar">
        <img src="img/ball.png" id="ball">
    </div>
</div>
<script src="js/jquery-min.js"></script>
<script src="js/vufine.js"></script>
<div>
    <input type="text" id="vne" value="##VNE##" style="visibility: hidden;">
    <input type="text" id="vno" value="##VNO##" style="visibility: hidden;">
    <input type="text" id="vs1" value="##VS1##" style="visibility: hidden;">
    <input type="text" id="vs0" value="##VS0##" style="visibility: hidden;">
</div>
</body>
