<html lang="en" dir="ltr">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Cache-Control: no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma: no-cache">
    <meta http-equiv="Expires: 0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/classes.css" />
    <link rel="stylesheet" type="text/css" href="css/hud.css" />
</head>
<body>
<div class="hud">
    <div class="lhblocker"></div>
    <div class="rhblocker"></div>
    <div class="aoa"><span id="spanaoa"></span></div>
    <div class="speedbox"><span id="spanspeedbox">000</span></div>
    <div class="scrollspeed">
        <img src="img/speed_mask.png" id="speedmask"> 
        <img src="img/speed_tape.png" id="speedtape">
        <span id="ktlabel">##SPEEDSTYLE##</span>
    </div>
    <span id="attitude"></span>
    <div class="altbox"><span id="spanaltbox">0000</span></div>
    <div class="scrollaltitude">
        <img src="img/altitude_mask.png" id="altmask">
        <img src="img/altitude_tape.png" id="alttape">
        <span id="msllabel">MSL</span>
    </div>
    <div class='headingbox'><span id="spanheadingbox">000</span></div>
    <div class="scrollheading">
        <img src="img/heading_mask.png" id="headingmask">
        <img src="img/heading_tape.png" id="headingtape">
    </div>
    <div>
        <div class="windindicator" id="windindicator">
            <span id="spanwindlabel">WIND</span>
            <span id="spanwindspeed">0 kt</span>
            <img id="windcircle" src="img/windcircle.png">
            <img id="windarrow" src="img/windarrow.png">
        </div>
        <div class="courseindicator" id="courseindicator">
            <img class="coursecircle" id="coursecircle" src="img/windcircle.png">
            <img class="coursearrow" id="coursearrow" src="img/windarrow.png">
        </div>
        <div class="gmeterbox"><span id="spangmeter">+1.0 g</span></div> 
        <div class="daltbox"><span id="spandalt">DALT 0</span></div> 
        <div class="oatbox"><span id="spanoat">OAT 59 F</span></div> 
        <div class="tasbox" id="tasbox"><span id="spantas">TAS 0 kt</span></div> 
        <div class="barobox"><span id="spanbaro">BARO 29.92</span></div>
        <div class="vsarrowbox"><span id="spanvsarrow">▲</span></div>
        <div class="vsbox"><span id="spanvspeed">0 fpm</span></div>
        <img src="img/yawbackground.png" id="yawbackground">
        <div class="yawindicator">
            <img src="img/slipskidbar.png" id="leftbar">
            <img src="img/slipskidbar.png" id="rightbar">
            <img src="img/ball.png" id="ball">
        </div>
    </div>
    <div id="warning" style="visibility: hidden;">
    <object data="img/trafficWarn.svg" type="image/svg+xml"
         class="trafficwarn" id="trafficwarning" ></object>
    </div>
    <input type="text" id="wsport" style="visibility:hidden;" value="##WSPORT##">
    <input type="text" id="trafficwarnings" style="visibility:hidden;" value="##TRAFFICWARN##">
    <input type="text" id="maxwarnaltitude" style="visibility:hidden;" value="##MAXWARNALT##">
    <input type="text" id="maxwarndistance" style="visibility:hidden;" value="##MAXWARNDIST##">
    <input type="text" id="speedstyle" style="visibility:hidden;" value="##SPEEDSTYLE##">
    <input type="text" id="stxahrs" style="visibility: hidden;" value="##STXAHRS##">
    <input type="text" id="stxipaddr" style="visibility: hidden;" value="##STXIPADDR##">
</div>
<script src="js/jquery-min.js"></script>
<script src="js/hud-ops.js"></script>
</body>
